.row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.fieldHeader {
    margin-right: 5px;
    font-size: medium;
    color: black;
}

.fieldInput {
    margin-right: 5px;
}

.fieldLabel {
    margin-right: 5px;
    font-size: smaller;
    color: grey;
}
