.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fieldHeader {
    flex-shrink: 0;
    margin-right: 5px;
    font-size: medium;
}

.optionalField {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fieldInput {
    margin-right: 5px;
}

.fieldLabel {
    margin-right: 5px;
    font-size: smaller;
}
