.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item {
    margin: 10px;
}

.item label {
    margin-right: 5px;
}

.item input {
    margin-right: 5px;
}
