$color-gray-70: #525252;
$color-gray-100: #161616;
$grey-2: #e0e0e0;
.CreateNewPatient {
    width: 10.875rem;
    height: 1.625rem;
    margin: 1rem 1.813rem 0.813rem 1.4rem;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: $color-gray-100;
}

.JumpTo {
    width: 2.938rem;
    height: 1rem;
    margin: 0 7.188rem 0.063rem 1.4rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.32px;
    color: $color-gray-70;
}

.Rectangle {
    width: 11.688rem;
    height: 0.063rem;
    margin: 1rem 1rem 2rem;
    background-color: $grey-2;
}

.Button {
    width: 11.688rem;
    height: 3rem;
    margin: 0 0 1rem 1rem;
    padding: 0 0 0 1rem;
}