.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--omrs-color-bg-high-contrast);
    padding: 10px;
}

.title {
    color: var(--omrs-color-brand-teal);
}

.submit {
    width: 250px;
}

.submit:hover {
    cursor: pointer;
}
