.container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 10px;
    grid-template-areas: 
        "dob dob time"
        "age age estimate";
}

.itemDateOfBirth {
    grid-area: dob;
}

.itemBirthTime {
    grid-area: time;
}

.itemAge {
    grid-area: age;
}

.itemEstimate {
    grid-area: estimate;
}
