.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

.item, .subItem label {
    margin-right: 5px;
}

.item, .subItem input {
    margin-right: 5px;
}

.fieldLabel {
    font-size: 80%;
    color: grey;
}
