.fieldRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.subFieldRow{
    margin-bottom: 5px;
}

.label {
    width: 150px;
    text-align: right;
    margin-right: 5px;
  }

.input {
    margin-right: 5px;
}

.label {
    display: flex;
    flex-direction: column;
}

.checkboxField {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    margin-left: 10px;
    padding: 5px;
}

.textInput {
    width: 300px !important;
    height: 40px !important;
}

.numberInput {
    width: 200px !important;
    height: 40px !important;
}

.checkboxInput {
    height: 1.5rem !important;
    width: 1.5rem !important;
}

.selectInput {
    width: 150px !important;
    height: 40px !important;
}

.dateInput {
    width: 200px !important;
    height: 40px !important;
    font-size: large !important;
}

.phoneNumberInput {
    width: 300px !important;
    height: 40px !important;
}

.errorInput {
    border: 2px solid var(--omrs-color-danger) !important;
}

.errorMessage {
    color: var(--omrs-color-danger);
}

.dummyData {
    cursor: pointer;
    margin-left: 5px;
}
