.formSection {
    margin-bottom: 10px;
    padding: 30px;
    background-color: var(--omrs-color-bg-high-contrast);
    box-shadow: 1.5px 1.5px 5px var(--omrs-color-ink-medium-contrast);
}

.formGroup {
    margin: 19px;
    padding: 15px;
    background-color: var(--omrs-color-bg-medium-contrast);
    box-shadow: 1.5px 1.5px 5px var(--omrs-color-bg-lowest-contrast);
}
