.formSection {
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: var(--omrs-color-bg-high-contrast);
    box-shadow: 1.5px 1.5px 5px var(--omrs-color-ink-medium-contrast);
}

.formGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.formLabel {
    width: 150px;
    margin-bottom: 10px;
    text-align: right;
  }